* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
