@import "common.css";
nav.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
nav.header div.container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.header div.container div.logo {
  max-width: 20%;
}
nav.header div.container div.logo img {
  max-width: 80%;
}
nav.header div.container ul.nav_list {
  max-width: 600px;
  font-size: 13px;
  font-weight: 600;
}
nav.header div.container ul.nav_list li {
  display: inline-block;
  min-width: 60px;
}
nav.header div.container ul.nav_list li a {
  color: #fff;
}
nav.header div.container ul.nav_list li#status:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #3bd671;
  border-radius: 50%;
}
nav.header div.container ul.nav_list li#login {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 0;
}
nav.header div.container ul.nav_list li#signup {
  padding: 8px;
  background-color: #f47b21;
  border-radius: 4px;
  margin: 0;
}
section.hero {
  height: 500px;
  background-image: url("../assets/mountains.svg"), linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-size: cover;
  background-position: 0 35%;
  padding-top: 100px;
}
section.hero h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  font-family: Promo, Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}
section.hero .billing {
  color: #283f59;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero .billing input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 2px;
}
section.hero .billing input[type="radio"]::before {
  content: "";
  font-family: "Material Symbols Outlined";
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
  vertical-align: top;
  line-height: 20px;
}
section.hero .billing input[type="radio"]:checked::before {
  content: "\e5ca";
}
section.hero .billing label {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  background-color: #fff;
  padding: 15px;
}
section.hero .billing label:first-child {
  border-radius: 5px 0 0 5px;
}
section.hero .billing label:last-child {
  position: relative;
  border-radius: 0 5px 5px 0;
}
section.hero .billing label:last-child::after {
  content: "up to 20% Discount";
  position: absolute;
  right: -15px;
  top: -16px;
  background-color: #8a9bae;
  font-size: 11px;
  color: #fff;
  padding: 3px 8px 4px 8px;
  border-radius: 2px;
}
section.hero .billing label:has(input[type="radio"]:checked) {
  color: #fff;
  background-color: #15394c;
}
section.hero .billing label:has(input[type="radio"]:checked):last-child::after {
  background-color: #47c652;
}
section.pricing {
  transform: translateY(-300px);
  height: 650px;
  color: #16222f;
}
section.pricing ul.billing-tier {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
section.pricing ul.billing-tier li {
  width: 210px;
}
section.pricing ul.billing-tier li .pricing_info {
  width: 100%;
  height: 320px;
  background-color: #ebeff4;
  border-radius: 8px;
}
section.pricing ul.billing-tier li .pricing_info .header {
  padding: 35px 0 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}
section.pricing ul.billing-tier li .pricing_info .header .material-symbols-outlined {
  font-size: 30px;
  vertical-align: middle;
  font-weight: 300;
}
section.pricing ul.billing-tier li .pricing_info .description {
  height: 80px;
  padding: 15px 15px;
  font-size: 12px;
}
section.pricing ul.billing-tier li .pricing_info .price {
  margin-bottom: 38px;
  font-weight: 600;
  line-height: normal;
}
section.pricing ul.billing-tier li .pricing_info .price .monthly_data {
  display: block;
}
section.pricing ul.billing-tier li .pricing_info .price .yearly_data {
  display: none;
}
section.pricing ul.billing-tier li .pricing_info .price span {
  font-size: 20px;
  font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
  font-weight: 400;
}
section.pricing ul.billing-tier li .pricing_info .price span.align-top {
  font-size: 14px;
  vertical-align: top;
  font-weight: 400;
}
section.pricing ul.billing-tier li .pricing_info .price .frequency {
  font-weight: 400;
}
section.pricing ul.billing-tier li .pricing_info .price .yearly_price {
  margin-top: 8px;
  display: block;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
section.pricing ul.billing-tier li .pricing_info a {
  display: inline-block;
  border-radius: 5px;
  color: #848484;
  background-color: #dde1e7;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 10px;
}
section.pricing ul.billing-tier li .pricing_info a:hover {
  text-decoration: underline;
}
section.pricing ul.billing-tier li .features {
  font-family: Promo, Helvetica, Arial, sans-serif;
  margin-top: 25px;
  font-size: 15px;
  text-align: left;
  border-right: 1px solid #dde1e7;
  height: 480px;
}
section.pricing ul.billing-tier li .features li {
  padding-top: 0;
  padding-left: 18px;
  padding-bottom: 13px;
}
.features li::before {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  font-weight: 200;
  margin-right: 10px;
  vertical-align: middle;
}
li.feature_api_request::before {
  content: "\e86f";
}
li.feature_currency::before {
  content: "\f041";
}
li.feature_support::before {
  content: "\e7ef";
}
li.feature_current::before {
  content: "\eb5a";
}
li.feature_location::before {
  content: "\f10d";
}
li.feature_encryption::before {
  content: "\e593";
}
li.feature_astro_data::before {
  content: "\e6c4";
}
li.feature_hourly_data::before {
  content: "\e858";
}
li.feature_historical_data::before {
  content: "\e923";
}
li.feature_forecast::before {
  content: "\e81a";
}
li.feature_language::before {
  content: "\e894";
}
li.feature_queries::before {
  content: "\f20e";
}
li.feature_customized::before {
  content: "\e8b8";
}
li.enterprise {
  background-color: #15394c;
  border-radius: 8px;
  color: #fff;
}
li.enterprise .pricing_info {
  background-color: #15394c !important;
}
li.enterprise .pricing_info .price span {
  font-size: 20px;
  font-weight: 400;
}
li.enterprise .pricing_info .price small {
  display: block;
  margin-top: 8px;
  font-weight: 400;
}
li.enterprise .pricing_info a {
  color: #fff !important;
  background-color: #f47b21 !important;
}
li.professional.popular {
  position: relative;
}
li.professional.popular .pricing_info {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0 !important;
}
li.professional.popular .pricing_info a {
  color: #fff !important;
  background-color: #15394c !important;
}
li.professional.popular::before {
  content: "MOST POPULAR";
  font-family: Promo, Helvetica, Arial, sans-serif;
  color: #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  background-color: #15394c;
  top: -30px;
  transform: translateX(-50%);
  border-radius: 8px 8px 0 0;
}
section.customers {
  height: 120px;
  position: relative;
}
.customers > .container {
  max-width: 1200px;
  margin: auto;
}
.customers ul {
  height: 100%;
  list-style-type: none;
}
.customers ul li {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.customers ul:first-child {
  font-size: 15px;
  font-weight: 600;
  line-height: 50px;
}
.customers .deloitte {
  background-image: url(../assets/clinet_icons/client_deloitte.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers .microsoft {
  background-image: url(../assets/clinet_icons/client_microsoft.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers .warnerBros {
  background-image: url(../assets/clinet_icons/client_warnerbros.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers .wawa {
  background-image: url(../assets/clinet_icons/client_wawa.svg);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers .schneider {
  background-image: url(../assets/clinet_icons/client_schneider.svg);
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers .ericsson {
  background-image: url(../assets/clinet_icons/client_ericsson_2.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.customers ul::before {
  content: "";
  display: inline-block;
  width: 70px;
}
.customers ul::after {
  content: "";
  display: inline-block;
  width: 30px;
}
section.detailed-feat {
  background-color: #eff2f5;
}
section.detailed-feat .container {
  max-width: 1000px;
}
section.detailed-feat .container h3,
section.detailed-feat .container h6 {
  font-family: Promo, Helvetica, Arial, sans-serif;
}
section.detailed-feat .container .title {
  padding-top: 50px;
}
section.detailed-feat .container .title h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
}
section.detailed-feat .container .title .featured-main {
  width: 90%;
  text-align: center;
  margin-top: 20px;
}
section.detailed-feat .container .title .featured-main img {
  width: 100%;
  height: 100%;
}
section.detailed-feat .featDetail {
  border-top: 2px dashed #dde2e6;
  width: 90%;
}
section.detailed-feat .featDetail li {
  height: 120px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.detailed-feat .featDetail li .info_brief {
  width: 500px;
  padding-left: 20px;
  margin: 0 auto;
}
section.detailed-feat .featDetail li .info_brief h6 {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 10px;
}
section.detailed-feat .featDetail li .info_brief p {
  max-width: 500px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 350;
}
section.detailed-feat .featDetail li .included_in {
  width: 180px;
  padding: 12px 0 12px 45px;
  margin-left: 45px;
  border-left: 2px dashed #dde2e6;
}
section.detailed-feat .featDetail li .included_in .label {
  color: #fff;
  text-align: center;
  background-color: #416376;
  width: 80px;
  font-size: 12px;
  font-weight: 650;
  padding: 3px 0;
  border-radius: 5px;
  margin-bottom: 7px;
}
section.detailed-feat .featDetail li .included_in .content {
  font-size: 14px;
  font-weight: 350;
}
.featDetail li::before {
  font-family: "Material Symbols Outlined";
  font-size: 52px;
  font-weight: 300;
  margin-right: 10px;
  color: #a4b6c5;
  display: block;
}
section.pricing_FAQ h2,
section.pricing_FAQ h3 {
  font-family: Promo, Helvetica, Arial, sans-serif;
}
section.pricing_FAQ h2 {
  padding-top: 40px;
  font-size: 25px;
  margin-bottom: 40px;
  font-weight: 500;
}
section.pricing_FAQ .left_box,
section.pricing_FAQ .right_box {
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  color: #16222f;
}
section.pricing_FAQ .left_box .topic,
section.pricing_FAQ .right_box .topic {
  text-align: left;
  margin: 0 auto 35px;
}
section.pricing_FAQ .left_box .topic h3,
section.pricing_FAQ .right_box .topic h3 {
  color: #949494;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: normal;
  font-weight: 500;
}
section.pricing_FAQ .left_box .topic li p.question,
section.pricing_FAQ .right_box .topic li p.question {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #dedee1;
  cursor: pointer;
}
section.pricing_FAQ .left_box .topic li p.answer,
section.pricing_FAQ .right_box .topic li p.answer {
  display: none;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 15px;
  line-height: 23px;
  margin-bottom: 0;
  background-color: #ebeff4;
}
section.pricing_FAQ .left_box .topic li p.question::after,
section.pricing_FAQ .right_box .topic li p.question::after {
  content: "\e5cf";
  font-family: "Material Symbols Outlined";
  font-size: 18px;
  font-weight: 200;
  margin-right: 10px;
  vertical-align: middle;
  float: right;
}
section.pricing_FAQ .left_box .topic li.open p.question::after,
section.pricing_FAQ .right_box .topic li.open p.question::after {
  content: "\e5ce";
}
section.pricing_FAQ .left_box .topic li.open p.answer,
section.pricing_FAQ .right_box .topic li.open p.answer {
  display: block;
}
section.pricing_FAQ .left_box .topic a,
section.pricing_FAQ .right_box .topic a {
  color: #7e8e9e;
}
section.pricing_FAQ .left_box .topic a::after,
section.pricing_FAQ .right_box .topic a::after {
  content: "\e5c8";
  font-family: "Material Symbols Outlined";
  font-size: 18px;
  font-weight: 300;
  margin-right: 10px;
  vertical-align: middle;
}
section.pricing_FAQ .left_box .topic a:hover,
section.pricing_FAQ .right_box .topic a:hover {
  text-decoration: underline;
}
section.cta {
  background-color: #eef2f5;
  height: 120px;
  position: relative;
}
section.cta .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.cta span {
  font-size: 16px;
  font-weight: 600;
}
section.cta span.material-symbols-outlined {
  font-size: 24px;
  font-weight: 300;
  vertical-align: middle;
}
section.cta a {
  background-color: #f47b21;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
}
section.cta a:hover {
  text-decoration: underline;
}
footer {
  background-color: #184157;
  height: 310px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 50px 0;
  position: relative;
}
.footer_container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.left_container {
  width: 27%;
}
.footer_logos {
  margin-bottom: 15px;
}
.social_media {
  display: flex;
}
.social_media div {
  margin: 0 5px;
}
.footer_container ul {
  list-style-type: none;
  width: 17%;
}
.footer_container ul li {
  line-height: 30px;
}
li.list_title {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .copyright {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.copyright .copyright_link {
  margin-bottom: 12px;
}
footer .copyright_text {
  font-size: 12px;
}
footer .copyright_text a {
  text-decoration: underline;
}
